@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

.resume-content, .resume-section{
    p{
        text-align: justify;
    }
}
.dev-icons{
    text-align: center;
}

@media screen and (max-width: 320px){
    .subheading{
        font-size: 22px;
    }
}